@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }

  body {
    @apply bg-light text-dark font-[Outfit] antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  .rich-text h1,
  .rich-text h2,
  .rich-text h3,
  .rich-text h4,
  .rich-text h5,
  .rich-text h6 {
    @apply mb-4 leading-none;
  }

  .rich-text p + h1,
  .rich-text p + h2,
  .rich-text p + h3,
  .rich-text p + h4,
  .rich-text p + h5,
  .rich-text p + h6 {
    @apply mt-4;
  }

  .rich-text h1 {
    @apply text-4xl;
  }
 .rich-text h2 {
  @apply text-xl md:text-2xl relative before:content-[''] before:block before:w-12 before:h-2 before:bg-accent before:mb-4 mb-2;
}
  h2 {
    @apply lg:text-xl text-lg ;
  }

  .rich-text h3 {
    @apply text-lg md:text-xl;
  }
  .rich-text h4 {
    @apply text-lg;
  }
  .rich-text h5 {
    @apply text-lg;
  }
  .rich-text h6 {
    @apply text-lg;
  }

  .rich-text p,
  .rich-text ul,
  .rich-text ol {
    @apply text-sm sm:text-base last:mb-0 first:mt-0 leading-relaxed;
  }

.rich-text ul {
  list-style: none;
}

.rich-text ul li {
  position: relative;
  padding-left: 26px;
}

.rich-text ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 1rem; 
  height: 1rem;
  background-image: url('/favicon.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* numbered list */
/* 
.rich-text ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.rich-text ol li {
  position: relative;
  background: white;
  padding: 1.5rem;
  width: 240px;
  height: 120px;
  font-size: 22px;
  font-weight: 700;
  
  z-index: 1;
}
.rich-text ol li::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  background-image: url('/favicon.png');
  background-size: contain;
  background-repeat: no-repeat;
  
  transform: rotate(20deg);
  z-index: -1;
} 
*/

.rich-text ol li {
  position: relative;
  padding-left: 0;  
  padding: 8px;
  font-size: 24px;
  font-weight: 800;
  z-index: 1; 
}

.rich-text ol li::before {
  content: '';
  position: absolute;
  left: 10rem;
  top: 0.5rem;
  width: 3rem; 
  height: 3rem;
  background-image: url('/favicon.png');
  background-size: cover;
  background-repeat: no-repeat;
   transform: rotate(24deg);
   z-index: -1; 
}

.rich-text ol li:hover::before {
  transform: rotate(-2deg);
} 


  .rich-text a {
    @apply no-underline;
  }

  .form-input {
    @apply border border-dark w-full h-12 rounded-md px-5;
  }

  .form-textarea {
    @apply border border-dark w-full h-20 rounded-md p-5;
  }

}

@layer components {
  .wide-container {
    @apply w-full max-w-wide-container mx-auto;
  }
}
