@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }

  body {
    @apply bg-light text-dark font-[Outfit] antialiased;
  }

  .rich-text h1,
  .rich-text h2,
  .rich-text h3,
  .rich-text h4,
  .rich-text h5,
  .rich-text h6 {
    @apply leading-none;
  }

  .rich-text p + h1,
  .rich-text p + h2,
  .rich-text p + h3,
  .rich-text p + h4,
  .rich-text p + h5,
  .rich-text p + h6 {
    @apply mt-4;
  }

  .rich-text h1 {
    @apply text-2xl lg:text-3xl;
  }

  .rich-text h2 {
    @apply font-bold text-xl md:text-2xl relative before:content-[''] after:block after:w-16 after:h-2 after:bg-accent after:mt-4 mb-4;
  }

  h1 {
    @apply font-bold text-2xl sm:text-3xl leading-tight mb-4;
  }
  
  h3 {
    @apply text-lg mb-1;
  }

  .rich-text h3 {
    @apply text-lg md:text-xl font-light;
  }

  .rich-text h4,
  h5,
  h6 {
    @apply text-lg font-bold;
  }

  .rich-text p,
  .rich-text ul,
  .rich-text ol {
    @apply text-sm sm:text-base my-4 last:mb-0 first:mt-0 leading-relaxed;
  }

  .rich-text ul {
    list-style: none;
  }

  .rich-text ol {
    counter-reset: custom-counter;
    padding-left: 0;
    margin-left: 0.5rem;
  }

  .rich-text ol li {
    counter-increment: custom-counter;
    list-style: none;
    position: relative;
    margin-bottom: 0.5rem;
    padding-left: 2.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: left;
  }

  /* Custom number bubble */
  .rich-text ol li::before {
    content: counter(custom-counter);
    position: absolute;
    left: 0.1rem;
    width: 1.6rem;
    height: 1.6rem;
    background: #ed6b44;
    color: #f9f9f9;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
  /* custom bullet icons */
  .rich-text ul li {
    position: relative;
    padding-left: 2rem;
  }

  .rich-text ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("/favicon.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ref h2{
   font-size: larger;

   font-weight: bold;
  }
    .ref p{
   font-size: large;
  }

  a {
    @apply no-underline;
  }

  .form-input {
    @apply border border-dark w-full h-12 rounded-md px-5;
  }

  .form-textarea {
    @apply border border-dark w-full h-20 rounded-md p-5;
  }
}

@layer components {
  .wide-container {
    @apply w-full max-w-wide-container mx-auto;
  }
}
