@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth overflow-x-hidden;
  }

  body {
    @apply bg-light text-dark font-[Outfit] antialiased;
  }

  .rich-text h1,
  .rich-text h2,
  .rich-text h3,
  .rich-text h4,
  .rich-text h5,
  .rich-text h6 {
    @apply leading-tight;
  }

  .rich-text p + h1,
  .rich-text p + h2,
  .rich-text p + h3,
  .rich-text p + h4,
  .rich-text p + h5,
  .rich-text p + h6 {
    @apply mt-4;
  }

  .rich-text h1 {
    @apply text-2xl lg:text-3xl;
  }

.rich-text h2 {
  @apply font-bold text-xl md:text-2xl relative
         after:content-['']
         after:block
         after:w-16
         after:h-1
         after:bg-accent
         after:mt-4
         mb-4;
}

.rich-text--center h2::after {
  margin-left: auto;
  margin-right: auto;
}

  h1 {
    @apply font-bold text-3xl sm:text-4xl leading-tight mb-4;
  }

  h3 {
    @apply text-lg mb-1;
  }

  .rich-text h3 {
    @apply text-md md:text-lg font-light;
  }

  .rich-text h4,
  h5,
  h6 {
    @apply text-lg font-bold;
  }

  .rich-text p,
  ul,
  ol {
    @apply text-base my-4 last:mb-0 first:mt-0 ;
  }

  .intro p {
    @apply text-base md:text-md font-light my-4;
  }

  .rich-text ul {
    list-style: none;
  }

  .rich-text ol {
    counter-reset: custom-counter;
    padding-left: 0;
    margin-left: 0.5rem;
  }

  .rich-text ol li {
    counter-increment: custom-counter;
    list-style: none;
    position: relative;
    margin-bottom: 0.5rem;
    padding-left: 2.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: left;
  }

  /* Custom number bubble */
  .rich-text ol li::before {
    content: counter(custom-counter);
    position: absolute;
    left: 0.1rem;
    width: 1.6rem;
    height: 1.6rem;
    background: #ed6b44;
    color: #f9f9f9;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
  /* custom bullet icons */
  .rich-text ul li {
    position: relative;
    padding-left: 2rem;
  }

  .rich-text ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("/favicon.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ref h2 {
    font-size: large;
    font-weight: 600;
  }
  .ref p {
    font-size: medium;
    font-weight: 500;
  }

  a {
    @apply no-underline;
  }
}

@layer components {
  .wide-container {
    @apply w-full max-w-wide-container mx-auto;
  }
}
