@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }

  body {
    @apply bg-neutral-100 text-zinc-800 font-[Inter] antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  .rich-text h1,
  .rich-text h2,
  .rich-text h3,
  .rich-text h4,
  .rich-text h5,
  .rich-text h6 {
    @apply mb-[0.35em] leading-none font-bold;
  }

  .rich-text p + h1,
  .rich-text p + h2,
  .rich-text p + h3,
  .rich-text p + h4,
  .rich-text p + h5,
  .rich-text p + h6 {
    @apply mt-10;
  }

  .rich-text h1 {
    @apply text-4xl;
  }
  .rich-text h2 {
    @apply text-3xl;
  }
  .rich-text h3 {
    @apply text-3xl;
  }
  .rich-text h4 {
    @apply text-2xl;
  }
  .rich-text h5 {
    @apply text-xl;
  }
  .rich-text h6 {
    @apply text-lg;
  }

  .rich-text p,
  .rich-text ul,
  .rich-text ol {
    @apply text-sm md:text-base my-4 last:mb-0 first:mt-0 leading-relaxed;
  }

  .rich-text a {
    @apply text-emerald-700 underline underline-offset-4 hover:no-underline;
  }

  .form-input {
    @apply border border-zinc-300 w-full h-12 rounded-md px-5;
  }

  .form-textarea {
    @apply border border-zinc-300 w-full h-20 rounded-md p-5;
  }

}

@layer components {
  .wide-container {
    @apply w-full max-w-wide-container mx-auto;
  }
}
